<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PizzaPy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/webp" href="../static/images/PizzaPy Favicon.webp">
</head>

<body>

    <img src="../static/images/PizzaPy Logo.webp" alt="Logo for PizzaPy">
    <p class="lead-question">What would you like to do today?</p>
    <section>
        <p>Manage Toppings</p>
        <button onclick="window.location.href='/manage_toppings'">Click to Manage Toppings</button>
    </section>
    <section>
        <p>Manage Pizzas</p>
        <button onclick="window.location.href='/manage_pizzas'">Click to Manage Pizzas</button>
    </section>

    <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
