<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzas Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/webp" href="../static/images/PizzaPy Favicon.webp">
</head>

<body>
    <h1>Manage Pizzas</h1>

    <h2>Current Pizzas</h2>
    <ul id="pizzas-list">
        <!-- Pizzas will be added dynamically here -->
    </ul>

    <h2>Add New Pizza</h2>
    <input type="text" id="new-pizza-name" placeholder="Enter new pizza">
    <button class="add-pizza-button" onclick="addPizza()">Add Pizza</button>

    <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>