<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Toppings Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/webp" href="../static/images/PizzaPy Favicon.webp">
</head>

<body>
    <h1>Manage Pizza Toppings</h1>
    
    <h2>Current Toppings</h2>
    <ul id="toppings-list">
        <!-- Toppings will be added dynamically here -->
    </ul>

    <h2>Add New Topping</h2>
    <input type="text" id="new-topping" placeholder="Enter new topping">
    <button class="add-topping-button" onclick="addTopping()">Add Topping</button>

    <script src="{{ url_for('static', filename='app.js') }}"></script>

</body>